---
layout: default
title: 404 means not found yet
path: home
---

<section class="container mx-auto flex flex-col justify-center items-center">
  <h1>
    <strong class="bg-clip-text text-transparent bg-gradient-to-r from-blue-700 to-green-700">
      {{title}}
    </strong>
  </h1>

  <p class='text-green-700'>
	Writing to the future about the past
  </p>

</section>
<section class="container max-w-3xl mt-6 px-6">
    {% set postslist = collections.post %}

    {% for post in postslist | reverse %}
    {% if loop.index0 < 3 %}
        <article class="my-8">
            <h2 class="text-3xl text-color_30 mb-2 underline" style='text-decoration-color: #b3d4ff'>
                <a href="{{ post.url | url }}">
                    {% if post.data.title %}
                        {{ post.data.title }}
                    {% else %}
                        Untitled
                    {% endif %}
                </a>
            </h2>
            <p class="text-base leading-6 text-gray-500 mb-3">
                <time>
                    {{ post.date | readableDate }}
		    <small class='text-gray-400'>by</small>
                    <a>{{ post.data.author }}</a>

                </time>
            </p>
            {% if post.data.description %}
                <p class="text-lg text-gray-500 mb-3">
                    {{ post.data.description }}
                </p>
            {% endif %}

            <p>
                <a href="{{ post.url | url }}" class="text-color_10">
                    Read more →
                </a>
            </p>

        </article>
    {% endif %}
    {% endfor %}
</section>
